[user]
  name = Thorsten Böttger
  email = boettger@mt7.de
  user = alto
[alias]
  st = status
  ci = commit
  co = checkout
  b = branch
  cp = cherry-pick
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset'
  lg = log --oneline --graph --decorate
[color]
  ui = auto
[push]
  default = tracking
